html{
    background-color: #bfb0b0;
}


body{
    background-color: #bfb0b0;
    margin: 0px;

}

.navbar{
    display: flex;
    flex-direction: row;
    margin: 10px;
}
.overview{
    display: flex;
    flex-direction: row;
    padding: 10px;
}
.nav-item{
    padding: 10px;
}
.settings{
}

.title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.heading{
    font-weight: bold;
    font-family: sans-serif Granville;
}
.paragraph{
    font-family: sans-serif Brandon Grotesque;
    max-width: 400px;
}
.current{
    font-weight: bold;
    text-decoration: underline;
}

.card{
    position: relative;
    background-color: #bfb0b0;
    width: 500px;
    padding: 20px;
    margin: 50px;

    top: 50px;


}
main{
    background-color: #bfb0b0;
}