html{
    background-color: #bfb0b0;
}


body{
    background-color: #bfb0b0;
    margin: 0px;

}

.navbar{
    display: flex;
    flex-direction: row;
    margin: 10px;
    max-height: 80px;

}
.overview{
    display: flex;
    flex-direction: row;
    padding: 10px;
}
.nav-item{
    position: relative;
    padding: 10px;
    width: 50%;
}
.settings{
}

.title {
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
}

.heading{
    font-weight: bold;
    font-family: sans-serif Granville;
}
.paragraph{
    font-family: sans-serif Brandon Grotesque;
    max-width: 400px;
}
.current{
    font-weight: bold;
    text-decoration: underline;
}

.card{
    position: relative;
    background-color: #bfb0b0;
    width: 500px;
    padding: 20px;
    margin: 50px;
    box-sizing: border-box;


    top: 50px;


}
main{
    background-color: #bfb0b0;
}
.image{
    width: 450px;
    height: 200px;
}
.card-title{
    margin-top: 8px;
}
.cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);



}